{% extends 'base.html' %}

{% load staticfiles %}
{% load filters %}

{% block title %}Conquest Overview{% endblock %}

{% block body_block %}

    <section class="page-header page-header-xs">
        <div class="container">

            <h1>CONQUEST OVERVIEW</h1>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Conquest</li>
                <li class="active">Conquest Overview</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->

    {% if zone_data %}

    <section class="info-bar info-bar-clean">
        <div class="container">

            <div class="row">

                {% for zone, data in zone_data.items %}

                <div class="col-sm-3">
                    <h4 class="text-center padding-3">{{ zone }}<a href="#" class="btn btn-xs btn-danger float-right" data-toggle="modal" data-target="#myModal">Attack</a></h4>
                <div class="table-responsive">
                <table class="table size-11">
                <tbody>
                    {% for guild in data|dictsortreversed:"influence" %}
                    <tr>
                        <td class="bold">{{ guild.rank }}</td>
                        <td>{{ guild.influence }}</td>
                        <td class="text-right"> {{ guild.name }}
                            {% if 'MasterJedis' in guild.name or 'Quasar' in guild.name %}<span class="badge badge-green">&nbsp;</span>{% elif guild.name in enemy_guilds %}<span class="badge badge-red">&nbsp;</span>{% endif %}
                        </td>
                    </tr>
                        {% if forloop.counter|divisibleby:5 %}
                        <tr bgcolor="#EEE"><td></td><td></td><td></td></tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                </table>
                </div>
                </div>

                {% if forloop.counter|divisibleby:4 %}

            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </section>

    {% else %}

    <section>

        <div class="container">

            <div class="row">

                <div class="alert alert-info margin-bottom-30"><!-- WARNING -->
                    <strong>Notice!</strong> There is no Conquest data available at this time. Please check again soon.
                </div>

            </div>

        </div>

    </section>

    {% endif %}

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Content will be loaded here from "remote.php" file -->
            </div>
        </div>
    </div>

{% endblock %}