{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Accounts{% endblock %}

{% block body_block %}

    <section class="page-header page-header-xs">
        <div class="container">

            <h1>ACCOUNTS</h1>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>{{ user.get_username }}</li>
                <li class="active">Accounts</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->

    <section>

        <div class="container">

            <!-- RIGHT -->
            <div class="col-lg-12 col-md-12 col-sm-9 margin-bottom-80">

                 {% if add_account_form.errors %}

                    <div class="alert alert-danger margin-bottom-30"><!-- DANGER -->
                        <ul>
                        {% for field in add_account_form %}
                            {% if field.errors %}
                                <li>{{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>

                {% endif %}

                {{ get_owned_cards_form.errors }}
                {{ get_owned_cards_form.non_field_errors }}

                <div class="toggle toggle-transparent-body">

                    {% if accounts %}

                        {% for account in accounts %}

                            <div class="toggle">
                                <label>{{ account.name }} ({{ account.kong_name }}) - {{ account.guild }}</label>

                                <div class="toggle-content">

                                        {% if account.postdata %}

                                            <div class="panel panel-default">
                                                <div class="panel-heading panel-heading-transparent">

                                                    <a href="{% url 'delete_account' %}?account_name={{ account.name }}" class="btn btn-danger btn-xs pull-right">Delete</a>
                                                    <h2 class="panel-title">Canvas Link</h2>
                                                </div>

                                                <div class="panel-body" style="word-break: break-all">
                                                    {{ account.canvas }}
                                                </div>

                                                <div class="panel-footer">
                                                    <div class="text-right">
                                                        <form role="form" action="{% url "user_accounts" %}" method="post" id="show_canvas_form" class="margin-bottom-0">

                                                            <label class="switch switch">
                                                                <input id="id_show_canvas" class="show_canvas" value="{{ account.kong_name }}" type="checkbox" {% if account.show_canvas %}checked{% endif %}>
                                                                <span class="switch-label" data-on="YES" data-off="NO"></span>
                                                                <span> Allow Officers to view Canvas</span>
                                                            </label>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading panel-heading-transparent">

                                                    <a href="{% url 'update_postdata' %}?account_name={{ account.name }}" class="btn btn-success btn-xs pull-right">Update Postdata</a>
                                                    <h2 class="panel-title">PostData</h2>
                                                </div>

                                                <div class="panel-body" style="word-break: break-all">
                                                    {{ account.postdata }}
                                                </div>

                                                <div class="panel-footer">
                                                    <div class="text-right">
                                                        <form role="form" action="{% url "user_accounts" %}" method="post" id="allow_command_form" class="margin-bottom-0">

                                                            <label class="switch switch">
                                                                <input id="id_allow_command" class="allow_command" value="{{ account.kong_name }}" type="checkbox" {% if account.allow_command %}checked{% endif %}>
                                                                <span class="switch-label" data-on="YES" data-off="NO"></span>
                                                                <span> Allow use in Command Center</span>
                                                            </label>

                                                        </form>
                                                    </div>
                                                </div>


                                            </div>

                                                <a href="{% url 'owned_cards' %}?account_name={{ account.name }}" class="btn btn-info btn-block">Download Owned Cards</a>

                                        {% else %}

                                            <div class="fancy-form">
                                                <textarea rows="5" class="form-control word-count" data-info="textarea-words-info" placeholder="Enter cards here, one card per line"></textarea>

                                                <i class="fa fa-list"><!-- icon --></i>

                                                <span class="fancy-hint size-11 text-muted">
                                                    <strong>Hint:</strong> For multiple copies use 'Card Name #2'
                                                </span>

                                                <form role="form" method="post" id="upload_owned_cards_form" action="{% url 'user_accounts' %}">
                                                    {% csrf_token %}


                                                    <br>
                                                    <button type="submit" value="Submit" name="upload_owned_cards" class="btn btn-info btn-block">Update</button>

                                                </form>

                                            </div>

                                            <a href="{% url 'delete_account' %}?account_name={{ account.name }}" class="btn btn-danger btn-block">Delete</a>

                                        {% endif %}

                                </div>
                            </div>

                        {% endfor %}

                    {% else %}

                        <div class="alert alert-danger margin-bottom-30"><!-- DANGER -->
                            <strong>Oh snap!</strong> You don't have any game accounts added yet!
                        </div>

                    {% endif %}

                </div>

                <div class="divider"><!-- divider --></div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">Add Account</h2>
                    </div>
                    <div class="panel-body">

                        <form role="form" id="gameaccount_form" action="{% url 'user_accounts' %}" method="post">
                            {% csrf_token %}

                                {{ add_account_form }}

                            <div>
                                <button class="btn btn-success" type="submit" value="Submit" name="add_account">Add Account</button>
                            </div>

                        </form>

                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">Add Account</h2>
                    </div>
                    <div class="panel-body">

                        <form role="form" id="gameaccountbasic_form" action="{% url 'user_accounts' %}" method="post">
                            {% csrf_token %}

                                {{ add_account_basic_form }}

                            <div>
                                <button class="btn btn-success" type="submit" value="Submit" name="add_account_basic">Add Account</button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>

        </div>

    </section>

{% endblock %}

{% block script_block %}

    <script type="text/javascript">

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        $(document).ready(function(){
            $(".allow_command").bind('click', function() {
                if($(this).is(":checked")) {
                    $.ajax({
                        url: '{% url "user_accounts" %}',
                        type: 'POST',
                        data: { kong_name:$(this).attr("value"), allow_command:"True" }
                    });
                } else {
                    $.ajax({
                        url: '{% url "user_accounts" %}',
                        type: 'POST',
                        data: { kong_name:$(this).attr("value"), allow_command:"" }
                    });
                }
            });
        });

        $(document).ready(function(){
            $(".show_canvas").bind('click', function() {
                if($(this).is(":checked")) {
                    $.ajax({
                        url: '{% url "user_accounts" %}',
                        type: 'POST',
                        data: { kong_name:$(this).attr("value"), show_canvas:"True" }
                    });
                } else {
                    $.ajax({
                        url: '{% url "user_accounts" %}',
                        type: 'POST',
                        data: { kong_name:$(this).attr("value"), show_canvas:"" }
                    });
                }
            });
        });

    </script>

{% endblock %}